.dropzone {
  position: relative;
  display: grid;
  justify-items: center;
  gap: .8rem;
  padding: 2.8rem 1.6rem;
  text-align: center;
  border-radius: .8rem;
  border: 2px dashed var(--stroke-default);

  & input {
    position: absolute;
    inset: 0;
    opacity: 0;
  }

  & p {
    color: #A8A29E;
  }

  &:hover,
  &:has(input:focus) {
    border-width: .2rem;
    border-color: var(--stroke-highlight);
    background-color: var(--surface-secondary);

    & p {
      color: var(--text-tertiary);
    }

    & svg path {
      stroke: var(--brand-light);
    }
  }
}