input,
textarea,
select {
  width: 100%;
  padding: 1.2rem 1.6rem;
  appearance: none;
  font: var(--text);
  color: var(--text-primary);
  border-radius: .8rem;
  border: 1px solid var(--stroke-default);
}

label {
  display: inline-block;
  margin-bottom: .4rem;
  font: 400 1.4rem/1.96rem var(--font-family);
}

input:focus,
select:focus,
textarea:focus {
  outline: .4rem solid var(--surface-secondary);
  border: .1rem solid var(--stroke-highlight);
}

input[type="date"] {
  position: relative;

  &::-webkit-calendar-picker-indicator {
    opacity: 0;
  }

  &::before {
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    position: absolute;
    right: 1.6rem;
    top: 50%;
    transform: translateY(-50%);
    background: url(../../assets/icons/calendar-03.svg);
  }
}

select {
  background: url(../../assets/icons/arrow-down-01.svg) no-repeat calc(100% - 1.6rem);
}