@import url(fields/index.css);

form {
  margin-top: 4.8rem;

  & fieldset {
    display: grid;
    gap: 2.4rem;
    border: none;

    & legend {
      margin-bottom: 2.4rem;
      font: 600 1.6rem/2rem var(--font-family);
      color: var(--text-primary);
    }
  }
}